body{
    margin: 0px;
    padding: 0px;
}
.container{
    margin-top: 5rem;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 50px;
    text-align: center;
}

#color-box{
    background-color: rgb(206, 206, 197);
    border-radius: 18px;
    width: 350px;
    height: 350px;
}

#change-color-btn{
    padding: 12px 24px;
    font-size: 16px;
    border-radius: 10px;
    border: none;
    background: linear-gradient(to right,violet,rgba(125, 32, 191, 0.692),rgba(0, 0, 255, 0.681));
    color: white;
    cursor: pointer;
    box-shadow: 0 4px 14px rgba(0, 0, 0, 0.2);
}
button:hover {
  transform: scale(1.05);
}